<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<base href="http://127.0.0.1/vue_learn/">
<h1>learn Vue.js 目录 (Vue.js火速上手, from 163)</h1>

<p>向所有抗争不公命运的力量致敬！</p>

<p>http://127.0.0.1/001/</p>
<p><a href=001/index.html>001/index.html</a> base</p>
<p><a href=001/index2.html>001/index2.html</a> v-model="name" 绑定值; 是否显示 v-show='age'(display:none) 或 v-if='sex';(直接删除dom) </p>
<p><a href=001/index3.html>001/index3.html</a> v-for  </p>
<p><a href=001/index4.html>001/index4.html</a> v-bind:href="paraInJS" 简写 :href="paraInJS"</p>
<p><a href=001/index5.html>001/index5.html</a> v-on:click="fnInJS";  
简写做 @:click="fnInJS";<br>
写多个动作v-on="{mouseenter:onEnter, mouseleave:onOut}";<br> 
v-on:submit="onSubmit;v-on:submit.stop="onSubmit;v-on:submit.prevent="onSubmit;; v-on:submit="onSubmit($event); v-on:submit.prevent="onSubmit($event)</p>
<p><a href=001/index6.html>001/index6.html</a> v-model模型用于和input双向数据绑定: v-model="name"; <br />
鼠标移开才更新 v-model.lazy="name"; <br />
去掉头尾的空格 v-model.trim="name"; <br />
只能输入数字 v-model.number="name" <br />
<br>
其他元素和类型上使用model: input type="radio";input type="checkbox"; select; textarea;
</p>

<p><a href=001/index7.html>001/index7.html</a> vue控制流 v-if </p>
<p><a href=001/index8.html>001/index8.html</a> vue计算属性 computed:{ value2:function(){} }定义键，值是带返回值的匿名函数; 使用{{ value2 }}</p>
<p><a href=001/index9.html>001/index9.html</a> vue方法 methods:{fn:function(){}}; 使用{{fn()}}</p>
<p><a href=001/index10.html>001/index10.html</a> vue全局及局部组件: </p>
<p><a href=001/index11.html>001/index11.html</a> 组件-配置组件: </p>
<p><a href=001/index12.html>001/index12.html</a> 组件的通信 </p>
<p><a href=001/index12_2.html>001/index12_2.html</a> 组件的通信: 父级组件给子组件传参，通过自定义属性，从外向内传(html to js) </p>
<p><a href=001/index12_3.html>001/index12_3.html</a> 组件的通信: 子级组件给父组件传参， </p>
<p><a href=001/index12_4.html>001/index12_4.html</a> 组件的通信: 子级组件给父组件传参，通过事件通信，子组件触发父组件事件，同时传参</p>
<p><a href=001/index13.html>001/index13.html</a> 组件的通信: 组件通信之任意及平行组件间通信：调度器</p>
<p><a href=001/index14.html>001/index14.html</a> 过滤器</p>
<p><a href=001/index15.html>001/index15.html</a> 自定义指令 - 基础配置</p>
<p><a href=001/index15_2.html>001/index15_2.html</a> 自定义指令 - 修饰符及传参</p>
<p><a href=001/index16.html>001/index16.html</a> mixin: 组件内部可以使用@mouseenter="visible=true" 调用自己的数据visible</p>
<p><a href=001/index16_2.html>001/index16_2.html</a> mixin: 组件内调用方法@mouseenter="show" 访问数据</p>
<p><a href=001/index16_3.html>001/index16_3.html</a> mixins 混合 - v3使用mixin减少重复代码，优先级(自定义会覆盖掉mixin)</p>
<p><a href=001/index17.html>001/index17.html</a> slots 插槽 - 基本slot</p>
<p><a href=001/index17_2.html>001/index17_2.html</a> slots 插槽 - 带名字的 slot(特别常用，可以把一个组件套到另一个组件中)</p>

<hr>





<br>
<p><a href=001/index4.html>001/index4.html</a> xx</p>
<hr>
<pre>
https://study.163.com/course/courseLearn.htm?courseId=1004181065
https://study.163.com/course/courseLearn.htm?courseId=1004181065#/learn/video?lessonId=1048299100&courseId=1004181065
mixin https://study.163.com/course/courseLearn.htm?courseId=1004181065#/learn/video?lessonId=1048297109&courseId=1004181065