<meta charset="UTF-8"> 
<!-- 开发环境版本，包含了有帮助的命令行警告 
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
-->
<script src="../js/vue.js"></script>
vue mixins 混合 - 
<hr>
<style>
/*第19课时*/
.tooltip,
.popup{background:yellow; width:200px; margin:10px auto;}
</style>

<div id="app">
	<popup></popup>
	<tooltip></tooltip>
	{{price}}
</div>


<hr>
F12 控制台，输入 app.price=80


<script>
//version 1,组件内部可以使用@mouseenter="visible=true" 调用自己的数据visible
Vue.component('tooltip',{
	//鼠标悬停弹窗
	template:`
	<div>
		<span @mouseenter="visible=true" @mouseleave="visible=false">someTools</span>
		<div class=tooltip v-if="visible">牛xx的工具集</div>
	</div>
	`,
	data:function(){
		return {
			visible:false,
		}
	}
})

Vue.component('popup',{
	//单击弹窗
	template:`
	<div>
		<button @click="toggle">Popup</button>
		<div class=popup v-if="visible">
			<span @click="hide">X</span>
			<h4>Popup Title</h4>
			This is a popup
		</div>
	</div>
	`,
	data:function(){
		return {
			visible:false,
		}
	},
	methods:{
		toggle:function(){
			this.visible = !this.visible;
		},
		hide:function(){
			this.visible = false;
		}
	}
})


var app=new Vue({
	'el':"#app",
	'data':{
		'price':200
	}
})
</script>


