<meta charset="UTF-8">

<!-- 开发环境版本，包含了有帮助的命令行警告 
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
-->
<script src="../js/vue.js"></script>

<div id="app">
  <div>
	<input type="text" v-model="name">
	<span>名字: {{name}}</span>
  </div>
  <div>
	<input type="text" v-model="age">
	<span v-show='age'>年龄: {{age}}</span>
  </div>
  <div>
	<input type="text" v-model="sex">
	<span v-if='sex'>性别: {{sex}}</span>
  </div>

</div>


<script>
var app=new Vue({
	el:"#app",
	data:{ //直接绑定到vue对象了
		message:"hello, ",
		name:"Vue.js2",
		age:"2",
		sex:"M",
	}
})
</script>